.home-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/login-background.png'), url('../../assets/svg/wave.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 65% center, bottom;
    // background-size: contain;
    }